body {
	background: #f3f2f3;
	font-family: 'Assistant';
	font-weight: 500;
}

header {
	position: relative;
	color: #B6B6B7;
}

header .tagline {
	height: 100px;
	padding: 50px 0px 80px;
}

header .tagline span {
	color: #90E0C3;
}

header .banner {
	background-color: white;
	position: relative;
}

header .banner h1 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 7px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	position: absolute;
	top: -20px;
	text-align: center;
	color: #000;
}

.header-1 .banner {
	background-image: url(../img/bg.png);
	height: 400px;
}

.header-1 .profile {
	bottom: -115px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    position: absolute;
}

.header-1 .profile img {
	width: 80%;
}

.header-1 .inline-profile {
	margin-left: 210px;
}

.header-1 .social-icons {
	display: inline-block;
}

.header-1 .social-icons ul {
	margin-bottom: 0px !important;
}

.header-2 .banner {
	height: 500px;
}

.header-2 .banner-content {
	height: inherit;
	padding-top: 10px;
}

.header-2 .book-title {
	font-weight: 600;
	letter-spacing: 5px;
	color: #000;
}

.header-2 .book-author {
	font-weight: 200;
	letter-spacing: 5px;
	color: #B6B6B7;
	text-transform: uppercase;
}

.header-2 .book-author {
	font-weight: 200;
	letter-spacing: 5px;
	color: #B6B6B7;
	text-transform: uppercase;
}

.header-2 .content-right img {
	width: 80%;
}

.social-icons [class*="fa fa-"] {
    background-color: #90E0C3;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: auto 3px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.footer {
	color: #B6B6B7;
	padding: 50px 0px;
}

.custom-width-of-global {
	max-width: 640px;
	margin: auto;
}